<div class="row row-home">
	<div class="col l6 offset-l3 white">
		<h4 class="center">Inserisci le tue informazioni</h4>

		<%= render 'form', profile: @profile %>

		<%= link_to 'Back', profiles_path %><i class="material-icons left">arrow_back</i>
	</div>
</div>

