<div class="row row-home">
	<div class="col l6 offset-l3 white">
		<h4>Modifica tipologia veicoli</h4>

		<%= render 'form', type_vehicle: @type_vehicle %>
		<div class="col 11 ">
			<%= link_to 'Back', type_vehicles_path %><i class="material-icons left">arrow_back</i>
		</div>
		<div class="col l1 offset-l3">
		</div>
			 
	</div>
</div>




