<h1>Editing Type Vehicle</h1>

<%= render 'form', type_vehicle: @type_vehicle %>
<div class="col 11 ">
<%= link_to 'Back', type_vehicles_path %><i class="material-icons left">arrow_back</i>
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Mostra', @type_vehicle%><i class="material-icons left">description</i></a>
</div>	 


