<div class="row row-home">
	<div class="col l6 offset-l3 white">
		<h4>Nuova tipologia</h4>

		<%= render 'form', type_vehicle: @type_vehicle %>

		<%= link_to 'Back', type_vehicles_path %><i class="material-icons left">arrow_back</i>
	</div>
</div>

