<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @type_vehicle.description %>
</p>
<div class="col l2">
<%= link_to 'Back', type_vehicles_path   %><i class="material-icons left">arrow_back</i>|
</div>
<div class="col 10">
<%= link_to 'Edit', edit_type_vehicle_path(@type_vehicle)%><i class="material-icons left">description</i>
</div>
