<div class="row">
	<div class="col l6 offset-l3">
		<h4>Modifica passaggio</h4>

		<%= render 'form', path_offer: @path_offer %>

		<%= link_to 'Show', @path_offer %> |
		<%= link_to 'Back', path_offers_path %>
	</div>
</div>

