<div class="row row-home">
	<div class="col l6 offset-l3 white">
		<h4>Modifica passaggio</h4>

		<%= render 'form', path_offer: @path_offer %>
		<div class="col 11 ">
         <%= link_to 'Back', path_offers_path %><i class="material-icons left">arrow_back</i>
         </div>
         <div class="col l1 offset-l3">
         </div>
         <div class="col 11">
         <%= link_to 'Mostra', @path_offer%><i class="material-icons left">description</i></a>
         </div>	
	</div>
</div>

