<div class="row">
	<div class="col l6 offset-l3">
		<h4>Modifica passaggio</h4>

		<%= render 'form', path_offer: @path_offer %>
		<div class="col 12">
        <%= link_to 'Back', path_offers_path %><i class="material-icons left">arrow_back</i>|
        </div>
         <div class="col 10">
         <%= link_to 'Mostra', @path_offer %><i class="material-icons left">description</i>
        </div>
	</div>
</div>

