<h1>Modifica di prenotazione</h1>

<h4>Viaggio <%=@departure %> - <%=@arrive  %></h4>
<br/>
<p>
  Buongiorno,
  ti informiamo che il viaggio è stato modificato.
<br/>
Ti consigliamo di rivedere la tua prenotazione
<br/>
  Lo Staff.
</p>



