<h1>Conferma di prenotazione</h1>

<h4>Viaggio <%=@params["departure"].concat(' - ').concat(@params["arrive"]) %></h4>
<br/>
<p>
  Buongiorno,
  ti confermiamo la tua prenotazione al viaggio.
<br/>
  Lo Staff.
</p>
