<h1>Avviso di prenotazione viaggio</h1>

<p>Gentile <%= @user.name %>, 
<p>
  ti informiamo che è stato prenotato il viaggio <%=@params["departure"].concat(' - ').concat(@params["arrive"]) %> da :
  <br/>
   
<br/>
  Lo Staff.
</p>