<h1>Avviso di prenotazione viaggio</h1>

<p>Gentile <%= @profileCreator.name %>, 
<p>
  ti informiamo che è stato prenotato il viaggio  da :<%=@params["departure"].concat(' - ').concat(@params["arrive"]) %>
  <br/>
   da <%= @name %>
<br/>
  Lo Staff.
</p>