<div class="row">
	<div class="col l6 offset-l3">
		<h4>Modifica le tue preferenze</h4> 
		<%= render 'form', preference: @preference %>
		<br/>
		<div class="col l2">
			<%= link_to 'Back', preferences_path %><i class="material-icons left">arrow_back</i>|
		</div>
		<div class="col l10">
			<%= link_to 'Show', @preference %><i class="material-icons left">description</i>
		</div>
		
	 
		
		 
	</div>
</div>


