<div class="row">
	<div class="col l6 offset-l3">
		<h4>Modifica le tue preferenze</h4>
		<%= render 'form', preference: @preference %>
		<br/>
		<%= link_to 'Show', @preference %> |
		<%= link_to 'Back', preferences_path %>
	</div>
</div>


