<div class="row">
	<div class="col l6 offset-l3">
		<h4 class="center">Inserisci le tue preferenze</h4>

		<%= render 'form', preference: @preference %>

		<%= link_to 'Back', preferences_path %><i class="material-icons left">arrow_back</i>
	</div>
</div>

