<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col l6 offset-l3">
    <h4 >Le tue preferenze</h4>
    <br/>
    <br/>
    <div class="col l6 field">
      <div >
        <i class="material-icons left">message</i>
        <% if @preference.conversation == 1%>
          <p style="padding-bottom:0.5em;">Amo la conversazione</p>
        <% else %>
          <p style="padding-bottom:0.5em;">Non amo la conversazione</p>          
        <% end %>
      </div >
    </div>
    
    <div class="col l6 field">
      <div >
        <i class="material-icons left">audiotrack</i>
        <% if @preference.music == 1%>
          <p style="padding-bottom:0.8em;">Amo la musica</p>
        <% else %>
          <p style="padding-bottom:0.8em;">Non amo la musica</p>          
        <% end %>
      </div >
    </div>

       <div class="col l6 field">
        <div >
          <i class="material-icons left">smoking_rooms</i>
          <% if @preference.smoke == 1%>
            <p style="padding-bottom:0.8em;">Mi piace fumare</p>
          <% else %>
            <p style="padding-bottom:0.8em;">Non mi piace fumare</p>          
          <% end %>
        </div >
      </div>

       <div class="col l6 field">
        <div >
          <i class="material-icons left">pets</i>
          <% if @preference.animal == 1%>
            <p style="padding-bottom:0.8em;">Amo gli animali</p>
          <% else %>
            <p style="padding-bottom:0.8em;">Non amo gli animali</p>          
          <% end %>
        </div >
      </div>

      <br/>
     <div class="col l2">
<%= link_to 'Back', preferences_path  %><i class="material-icons left">arrow_back</i>|
</div>
<div class="col 10">
<%= link_to 'Edit', edit_preference_path(@preference)%><i class="material-icons left">description</i>
</div>
  </div>
</div>
