<h1>Editing Feedback Path</h1>

<%= render 'form', feedback_path: @feedback_path %>
<div class="col l2">
			<%= link_to 'Back', feedback_paths_path %><i class="material-icons left">arrow_back</i>|
		</div>
		<div class="col l10">
			<%= link_to 'Show', @feedback_path %><i class="material-icons left">description</i>
		</div>
