<h1>Editing Feedback Path</h1>

<%= render 'form', feedback_path: @feedback_path %>
<div class="col 11 ">
<%= link_to 'Back', feedback_paths_path %><i class="material-icons left">arrow_back</i>
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Mostra', @feedback_path %><i class="material-icons left">description</i></a>
</div>	 
