<h1>Editing Feedback</h1>

<%= render 'form', feedback: @feedback %>
<div class="col l2">
			<%= link_to 'Back', feedbacks_path %><i class="material-icons left">arrow_back</i>|
		</div>
		<div class="col l10">
			<%= link_to 'Show', @feedback %><i class="material-icons left">description</i>
		</div>
		

