<h1>Editing Feedback</h1>

<%= render 'form', feedback: @feedback %>
<div class="col 11 ">
<%= link_to 'Back', feedbacks_path %><i class="material-icons left">arrow_back</i>
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Mostra', @feedback%><i class="material-icons left">description</i></a>
</div>	 


