<div class="row">
	<div class="col l6 offset-l2">
		<h4 class="center">Modifica Veicolo</h4>
		<br/>
		<%= render 'form', vehicle: @vehicle %>

		<%= link_to 'Show', @vehicle %> |
		<%= link_to 'Back', vehicles_path %>
	</div>
</div>

