<div class="row row-white">
	<div class="col l6 offset-l2 white">
		<h4 class="center">Modifica Veicolo</h4>
		<br/>
		<%= render 'form', vehicle: @vehicle %>
		<div class="col l1">
			<%= link_to 'Back', vehicles_path %><i class="material-icons left">arrow_back</i>|
		</div>
		<div class="col l1 offset-l3">
        </div>
		<div class="col 11">
			<%= link_to 'Mostra', @vehicle %><i class="material-icons left">description</i>
		</div>	 
	</div>
</div>

